<div id="<%= dom_id item %>">
  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= item.book_id %>
  </p>

</div>
